<div *ngIf="currentOpt!==''">


<div class="accordion" *ngFor="let cat of products" >
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Categoria:  {{cat.categoryName}}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div class="col" *ngFor="let card of cat.products">
                        <app-card [cardData]="card"></app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>